<script type="text/template" id="notificationMsgContent">
  <div class="notification-msg-wrapper">
    <div class="notification-user-img"><img class="img-responsive" src="{{pic_prefix}}{{pic}}"/></div>
    <div class="notification-user-msg"><span class="notification-user-name">{{user_name}}</span> {{msg}}</div>
  </div>
</script>