<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <img src="/assets/images/banner.png" class="img-responsive"/>
  <% include ../partials/templates %>
  <% include ../partials/footer %>
</body>
</html>